}
.foo {
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

/*HTML below:
<div class="foo blue"></div>
<div class="foo purple"></div>
<div class="foo wine"></div>
*/
