@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Source+Sans+Pro:700,900&display=swap');
* {margin: 0;padding: 0;box-sizing: border-box;}
body {
	font-family: 'Playfair',serif;
	line-height: 1.3;
	font-size: 16px;
	font-weight: 400;
	color: #333;
  margin:0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size:5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:900;
	font-size:1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
}

strong {
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.25em;
}

/*NAVIGATION*/
header {
  background: black;
  border-bottom-color: white;
  border-bottom: 6px;
}

nav a {
  background: black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:700;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float:left;
  padding: 2em;
}


a:hover {
  color: rgb(74, 143, 134);
}

/*HOMEPAGE*/
#homepage {
  background: rgb(74, 143, 134);
  color: white;
  text-align: center;
}

#homepageFocal {
  text-align: right;
  padding: 3em 0 4em;
  display: inline-block;
  line-height: 1;
}

#bold {
  font-weight:700;
}

hr {
  width: 100%;
  border:6px solid white;
  margin: .25em 0;
}


/*ABOUT*/
.about_content {
  font-size: 1.2em;
  width: 33.33%;
  float: left;
  /* padding:2%; */
  display: inline-block;
}

#about_main {
  width: 64.66%;
  margin-right: 2%;
}
#about_pic {
  float: left;

}

/*CASE STUDIES*/
.SectionHeader{
  padding:2em;
}

hr.CaseStudySummary-Top {
  border: 4px solid #333;
  width: 80% auto;

}
hr.CaseStudySummary-Bottom {
  border: 1px solid #333;
  width: 80% auto;
  text-align: center;

}

.CaseStudyCover {
	height: 30em;
	/* margin-bottom: 80px; */
	background: url(../images/project_poop_pills/nytimes_pill_in_hand.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.CoverImage {
	width: 100%;
	height: 100%;
	background-size: cover;
}
.box {
    padding: 5em 0;
    max-width: 1200px;
    margin: auto;
}

.CaseStudySummary-group {
    width: 50%;
    float: left;
    padding: 2em;
}
/*TBD*/

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}
