body {
	background-color: #fff;
}

h1 {
	font-size: 48px;
	text-align: center;
}

hr.homepage {
	width: 400px;
	border:6px solid rgb(74, 143, 134);
	align-self: center;
}

h2 {
	font-style: bold;
	font-family:"Helvetica";
	text-size:36px;
}

h3 {
	font-style: italic;
	font-size: 22px;
}

h4, h5 {
	font-family: "Helvetica";
	text-transform: uppercase;
}

.philosophy {
	text-align: center;
}