@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Source+Sans+Pro:900&display=swap');
* {margin: 0;padding: 0;box-sizing: border-box;}
body {
	font-family: 'Playfair',serif;
	line-height: 1.3;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

h2, h4, h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:900;
	text-transform: uppercase;
	letter-spacing: .2em
}



/* #wrapper {
	padding: 6em 6em;
	margin: 0 60;
} */

#philosophy, #about {
	background: #B9E6E8;
}
footer {
	text-align:center;
}

h1 {
	font-size: 4em;
	text-align: right;
	padding: 0 8em;
}

/* title {
	bottom-border: 50px solid rgb(74, 143, 134); */
}

hr.homepage {
	width: 400px;
	border:60px solid rgb(74, 143, 134);
}

h2 {
	font-weight:;
	text-size: 4em;
}

h3 {
	font-style: italic;
	font-size: 1.75em;
	font-weight:400;
}

img {
	max-width: 25%;
	height: auto;
}



nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  text-align: right;
  padding: 2em;
}
nav a {
	color: #fff;
	text-decoration: none;
}

.box {
  /* height:1000px; */
  padding-top: 150px;
  padding-bottom: 25px;
}
#homepage {background-color: #663399;color: #fff;}
#about {
  background-color: #bada55;
}

#clients {
  background-color: goldenrod;
}

#contact {
  background-color: red;
}
